html
  head
    title= title
  body
    h1 Inventario
    h2 Libros
    if products && products.length > 0
      table(border='1')
        tr
          th Título
          th Autor
          th ISBN
          th Precio
          th Stock
        each product in products
          tr
            td= product.title
            td= product.author
            td= product.isbn
            td= product.price
            td= product.stock
    else
      p No hay libros en inventario.
    h2 Cafés
    if cafes && cafes.length > 0
      table(border='1')
        tr
          th Nombre
          th Categoría
          th Precio
          th Stock
        each cafe in cafes
          tr
            td= cafe.name
            td= cafe.category
            td= cafe.price
            td= cafe.stock
    else
      p No hay cafés en inventario.
