extends layout

block content
  h1 Catálogo de Libros
  ul
    each product in products
      if product.type === 'book'
        li
          h2= product.title
          p Autor: #{product.author}
          p ISBN: #{product.isbn}
          p Precio: $#{product.price}
          p Stock: #{product.stock}
          p Categoría: #{product.category}
          hr
