extends layout

block content
  h1 Catálogo de Libros
  .catalog-container
    each product in products
      if product.type === 'book'
        .book-card
          h2= product.title
          p Autor: #{product.author}
          p ISBN: #{product.isbn}
          p Precio: $#{product.price}
          p Stock: #{product.stock}
          if product.category
            p Categoría: #{product.category}
          hr
